/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */

body {
  /*background-color: #FF0000;*/

  
  background-repeat: no-repeat;
  background-size: COVER;
  background-color: rgba(152, 66, 211, 0.63);
}

h1 {
  color: #00FF00;
  background-color: #888888;
  font-family: Helvetica, sans-serif;
  font-style: bold;
}

h2 {
  color: #00FFFF;
  font-style: oblique;
  text-align: center;
  border: 3px solid green;
}

a {
  color: #AAAAFF;
  background-color: #555555;

}

a:hover {
  color: #000000;
  font-size: 20px;
  background-color: #333333;
}

ul {

}

li {
  margin-bottom: 10px;
}

li:hover {


}

#content {
  display: flex;
  flex-direction: column;
}

#efra {
  display: block;
  vertical-align: top;
}
#nedra {
  display: block;
  vertical-align: bottom;
}
#RickBox {
  float: right;
  width: 85%;
}
